@import "tailwindcss";

@layer base {
    h2, h3, h4, h5 {
    display: block;
  }
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply font-sans overflow-x-hidden;
    @apply max-w-screen;
  }
  body {
    @apply bg-background;
    @apply max-w-screen;
    @apply w-full
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  .btn {
    @apply inline-block rounded px-4 py-2 font-medium transition-colors;
  }
  .btn-primary {
    @apply bg-[#C83803] text-white hover:bg-[#8C4E2A];
  }
  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .375);
  }
  .shadow-text-white {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
  }
    .shadow-text-orange {
    text-shadow: 2px 2px 4px rgba(140, 39, 3, .75);
  }
  .shadow-text-violet {
    text-shadow: 2px 2px 4px rgba(127, 0, 255, 0.4)
  }
    .shadow-text-purple {
    text-shadow: 2px 2px 4px rgba(106, 78, 214, 0.5);
  }
  .shadow-text-light-blue {
    text-shadow: 2px 2px 4px rgba(63, 81, 181, 0.5);
  }
  .shadow-text-dark-blue {
    text-shadow: 2px 2px 4px rgba(11, 22, 42, 0.25);
  }
  .shadow-box {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  .shadow-box-white {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
  /* Define fixed max-widths at specific breakpoints */
  @variant sm {
    max-width: 540px;
  }
  @variant md {
    max-width: 720px;
  }
  @variant lg {
    max-width: 960px;
  }
  @variant xl {
    max-width: 1140px;
  }
  @variant 2xl {
    max-width: 1320px;
  }


/* Global hover state */

}
  .text-xs {
    font-size: .75rem !important;
    line-height: 1rem !important;
  }
  .text-sm {
    font-size: .875rem !important;
    line-height: 1.25rem !important;
  }
  .text-base {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
  .text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
  }
  .text-xl {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
  }
  .text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
